In [1]:
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier

In [2]:
data = sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
train, test = train_test_split(data, test_size = 0.4,
                              stratify = data['species'],random_state = 85) #40% de datos para pruebas

In [4]:
train.head()

     sepal_length  sepal_width  petal_length  petal_width     species
118           7.7          2.6           6.9          2.3   virginica
55            5.7          2.8           4.5          1.3  versicolor
134           6.1          2.6           5.6          1.4   virginica
23            5.1          3.3           1.7          0.5      setosa
90            5.5          2.6           4.4          1.2  versicolor

In [5]:
X_train = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y_train = ['species']
X_test = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y_test = ['species']

In [7]:
mlp = MLPClassifier(hidden_layer_sizes = (3,3), solver ='sgd',
                   learning_rate_init = 0.01, max_iter=500)

In [8]:
mlp.activation

'relu'

In [9]:
#codificar la variable 
from sklearn.preprocessing import LabelEncoder

In [10]:
#codificador 
codificador = LabelEncoder()

In [11]:
import pandas as pd

In [12]:
data['species'] = codificador.fit_transform(data['species'])
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [19]:
species = pd.DataFrame({'species':['setosa','versicolor','virginica']})

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc = StandardScaler()

In [20]:
noescalado = X_train 
X_train_array = sc.fit_transform(X_train.values)
X_train = pd.DataFrame(X_train_array, index = X_train.index,
                       columns = X_train.columns)
X_train

     sepal_length  sepal_width  petal_length   petal_width
118      2.264960    -1.080692      1.751165  1.487755e+00
55      -0.193983    -0.600384      0.402193  1.352504e-01
134      0.297805    -1.080692      1.020472  2.705009e-01
23      -0.931666     0.600384     -1.171607 -9.467531e-01
90      -0.439878    -1.080692      0.345986 -3.003163e-16
..            ...          ...           ...           ...
46      -0.931666     1.801153     -1.227814 -1.352504e+00
8       -1.792296    -0.360231     -1.340228 -1.352504e+00
142     -0.071036    -0.840538      0.739436  9.467531e-01
107      1.773171    -0.360231      1.413922  8.115027e-01
16      -0.562825     2.041307     -1.396436 -1.082004e+00

[90 rows x 4 columns]