In [1]:
import math 
import numpy as np
import seaborn as sns

In [3]:
#matriz de pesos 1ra. capa
W1= np.array([
             
            [-5.5203751336559,6.42640362140187,-0.662783137645406,-0.918592824990099],
            [0.411620095755373,-0.263119066462808,17.2146031107035,11.2291119295025],
            [-7.83520648483411,9.77021367635316,-6.97936053708503,-5.14035789114318],
            [2.04605601760197,-13.6855123893029,-2.52318521177277,-1.01207092695508],
            [7.13718661993616,-4.29272181294518,-3.76249800677592,-3.71868977716821]

])

In [4]:
#matriz de pesos 2da. capa
W2= np.array([
           [-0.266858834035723,-0.0578292244511902,-1.95969393965478,0.662446874126961,-0.644593252885043],
            [-2.72348084928145,-4.0258089183029,63.1336020396417,2.37410491089049,5.24090284587177],
            [0.262817877699231,-1.72222629183399,-3.55274095624518,-2.64680307468699,-2.1641700860866],
            [-9.73241767467026,-9.60982838233611,-0.39094598755011,0.448136670602781,-2.09797414967468],
            [-0.140696361073298,2.17818637018461,24.625787651287,-0.149955485426038,0.834479295249303]

])

In [5]:
#matriz de pesos 3ra. capa
W3= np.array([
            [1.04093718578115,0.305285825059559],
            [-0.105318054941616,-1.93368610580579],
            [-0.145230957939836,-1.51517434795179],
            [-0.350352853955532,-3.76371987002928],
            [-1.56285185088996,-0.00965984347560896],
            [-1.80729630747551,-1.36615140250326]
])

In [6]:
W4= np.array([
            [-0.0218023560515247,-0.110224096819447,1.13203588899038],
            [-0.170627161244939,2.07072640993289,-1.90142040775517],
            [4.13533327837207,-4.59562626312399,0.464119444172171]
])

In [48]:
#funcion de activacion de valores pequeños 
#def f_act(X):
  #  activada = np.array([1/(1+math.exp(-x)) for x in X])
   # return activada

In [58]:
def f_act(x):
    activada = []
    for i in x:
        try:
            r= 1/(1 + math.exp(-i))
        except OverflowError:
            r = 0
        activada.append(r)
    return activada

In [8]:
#carga de datos 
penguins = sns.load_dataset('penguins')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [9]:
xcols = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']
especie = penguins['species'].unique()
especie

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [10]:
X = penguins[xcols].copy()
X.insert(0,'bias',1)
X

     bias  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0       1            39.1           18.7              181.0       3750.0
1       1            39.5           17.4              186.0       3800.0
2       1            40.3           18.0              195.0       3250.0
3       1             NaN            NaN                NaN          NaN
4       1            36.7           19.3              193.0       3450.0
..    ...             ...            ...                ...          ...
339     1             NaN            NaN                NaN          NaN
340     1            46.8           14.3              215.0       4850.0
341     1            50.4           15.7              222.0       5750.0
342     1            45.2           14.8              212.0       5200.0
343     1            49.9           16.1              213.0       5400.0

[344 rows x 5 columns]

In [61]:
#Prediccion 
prediccion = []
for index, fila in X.iterrows():
    capa1 = f_act(fila.dot(W1))
    capa1 = np.insert(capa1,0,1)
    capa2 = f_act(capa1.dot(W2))
    capa2 = np.insert(capa2,0,1)
    capa3 = f_act(capa2.dot(W3))
    capa3 = np.insert(capa3,0,1)
    salida = f_act(capa3.dot(W4))
    prediccion.append(especie[np.argmax(salida)])

In [62]:
prediccion

['Gentoo',
 'Gentoo',
 'Gentoo',
 'Adelie',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Adelie',
 'Gentoo',
 'Gentoo',
 'Gentoo',
 'Gentoo']

In [63]:
penguins['Prediccion'] = prediccion 
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Prediccion
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,Gentoo
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,Gentoo
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,Gentoo
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,Adelie
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,Gentoo

In [64]:
penguins.iloc[73:78]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Prediccion
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,Male,Gentoo
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,Female,Gentoo
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,Male,Gentoo
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,Female,Gentoo
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,Male,Gentoo

In [65]:
penguins.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Prediccion
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,Adelie
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,Gentoo
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,Gentoo
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,Gentoo
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,Gentoo

# Predicciones erroneas

In [66]:
errores = penguins[penguins['species']!=penguins['Prediccion']]
errores

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Prediccion
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,Gentoo
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,Gentoo
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,Gentoo
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,Gentoo
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,Gentoo
...,...,...,...,...,...,...,...,...
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female,Gentoo
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,Male,Gentoo
218,Chinstrap,Dream,50.8,19.0,210.0,4100.0,Male,Gentoo
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,Female,Gentoo
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,Adelie

In [71]:
eficiencia = (1 - len(errores)/len(penguins))*100
eficiencia

36.04651162790697